<div class="card-deck table-wrapper-scroll-y my-custom-scrollbar animated fadeIn slow pb-4 pl-5 pl-sm-5 pl-md-4 pl-lg-5 pl-xl-5">

  <!-- Listado de Novelas -->
  <div class="mb-5">
    <h1 id="libroTitulo" class="border-bottom mt-3 ml-1 ml-sm-2 ml-md-5 ml-lg-5 ml-xl-5 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10">{{ 'genero.novela' | translate }}</h1>

    <div id="libros" class="card border-0 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4">
      <img class="card-img-top mt-3" src="{{ 'libros.ninna.imagen' | translate }}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ 'libros.ninna.titulo' | translate }}</h3>
        <p class="card-text">{{ 'libros.ninna.descripcion' | translate }}</p>
      </div>
      <div class="card-footer">
        <strong>{{ 'libros.ninna.premios' | translate }}</strong>
      </div>
    </div>

    <div id="libros" class="card border-0 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4">
      <img class="card-img-top mt-3" src="{{ 'libros.notte.imagen' | translate }}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ 'libros.notte.titulo' | translate }}</h3>
        <p class="card-text">{{ 'libros.notte.descripcion' | translate }}</p>
      </div>
      <div class="card-footer">
        <strong>{{ 'libros.notte.premios' | translate }}</strong>
      </div>
    </div>

    <div id="libros" class="card border-0 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4">
      <img class="card-img-top mt-3" src="{{ 'libros.letteratura.imagen' | translate }}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ 'libros.letteratura.titulo' | translate }}</h3>
        <p class="card-text">{{ 'libros.letteratura.descripcion' | translate }}</p>
      </div>
      <div class="card-footer">
        <strong>{{ 'libros.letteratura.premios' | translate }}</strong>
      </div>
    </div>

    <div id="libros" class="card border-0 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4">
      <img class="card-img-top mt-3" src="{{ 'libros.casa.imagen' | translate }}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ 'libros.casa.titulo' | translate }}</h3>
        <p class="card-text">{{ 'libros.casa.descripcion' | translate }}</p>
      </div>
      <div class="card-footer">
        <strong>{{ 'libros.casa.premios' | translate }}</strong>
      </div>
    </div>

    <div id="libros" class="card border-0 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4">
      <img class="card-img-top mt-3" src="{{ 'libros.cuore.imagen' | translate }}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ 'libros.cuore.titulo' | translate }}</h3>
        <p class="card-text">{{ 'libros.cuore.descripcion' | translate }}</p>
      </div>
      <div class="card-footer">
        <strong>{{ 'libros.cuore.premios' | translate }}</strong>
      </div>
    </div>

    <div id="libros" class="card border-0 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4">
      <img class="card-img-top mt-3" src="{{ 'libros.infanzia.imagen' | translate }}" alt="">
      <div class="card-body">
        <h3 class="card-title">{{ 'libros.infanzia.titulo' | translate }}</h3>
        <p class="card-text">{{ 'libros.infanzia.descripcion' | translate }}</p>
      </div>
      <div class="card-footer">
        <strong>{{ 'libros.infanzia.premios' | translate }}</strong>
      </div>
    </div>
  </div>

  <!-- Listado de Teatro -->
  <div class="mb-5">
    <h1 id="teatroTitulo" class="border-bottom mt-3 ml-1 ml-sm-2 ml-md-5 ml-lg-5 ml-xl-5 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10">Teatro</h1>

    <div id="teatro" class="card col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4 border-0">
      <img class="card-img-top mt-3" src='teatro.aucelle.imagen' alt="">
      <div class="card-body">
        <h3 class="card-title">{{ 'teatro.aucelle.titulo' }}</h3>
        <p class="card-text">{{'teatro.aucelle.descripcion'}}</p>
      <div class="card-footer">
        <strong>{{'teatro.aucelle.premios'}}</strong>
      </div>
    </div>


  </div>

  <!-- Listado de colaboraciones -->
  <div class="mb-5">
    <h1 id="compartidoTitulo" class="border-bottom pb-2 mt-3 ml-1 ml-sm-2 ml-md-5 ml-lg-5 ml-xl-5 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10">Libros colectivos</h1>
    <div id="compartido" *ngFor="let libroColectivo of librosColectivos" class="card col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4 border-0">
      <img class="card-img-top mt-3" [src]="libroColectivo.imagen" alt="">
      <div class="card-body">
        <h3 class="card-title">{{libroColectivo.titulo}}</h3>
        <p class="card-text">{{libroColectivo.descripcion}}</p>
      <div *ngIf="libroColectivo.premios" class="card-footer">
        <strong>{{libroColectivo.premios}}</strong>
      </div>
    </div>
  </div>

  <!-- Listado de Traducciones -->
  <div class="mb-5">
    <h1 id="compartidoTitulo" class="border-bottom pb-2 mt-3 ml-1 ml-sm-2 ml-md-5 ml-lg-5 ml-xl-5 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10">Traducciones</h1>
    <div id="traducciones" *ngFor="let traduccion of traducciones" class="card col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4 border-0">
      <div class="card-body">
        <h3 class="card-title"><i>{{traduccion.titulo}}</i> {{traduccion.autor}}</h3>
        <p class="card-text">{{traduccion.descripcion}}</p>
      </div>
      <div *ngIf="traduccion.premios" class="card-footer">
       <strong>{{traduccion.premios}}</strong>
      </div>
    </div>
  </div>

</div>











