
/*Estilos generales*/
#libros{
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.678);
  /* -webkit-backdrop-filter: blur(10px); */
  color: black;
}

/*Break points para adaptar background y estilos */

@media (max-width: 767.98px) {

  .card-deck{
    margin-top: 30px;
  }

  .table-wrapper-scroll-y {
    display: block;
    margin-left: -30px;
  }

  #imagen{
    max-width: 150px;
    max-height: 300px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    width: 55vh;
    overflow: auto;
  }
}

@media (min-width: 768px) {

  .card-deck{
    padding-top: 20px;
  }

  .card-text{
    padding-top: 10px;
  }

  .table-wrapper-scroll-y {
    display: block;
    margin-left: -80px;
  }

  #imagen{
    max-width: 150px;
    max-height: 300px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    width: 90vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;

  }
}

@media (max-width: 999.98px) {

  .card-deck{
    margin-top: 20px;
  }

  .card-text{
    margin-top: 10px;
  }

  .table-wrapper-scroll-y {
    display: block;
    margin-left: -80px;
  }

  #imagen{
    max-width: 150px;
    max-height: 300px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    width: 90vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }
}

@media (min-width: 1000px) {

  .card-deck{
    margin-top: -200px;
    margin-left: -60px;
  }

  #imagen{
    max-width: 200px;
    max-height: 400px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    width: 230vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
  display: block;

  }

}
