<div class="card-deck table-wrapper-scroll-y my-custom-scrollbar animated fadeIn slow pb-4 pl-5 pl-sm-5 pl-md-4 pl-lg-5 pl-xl-5">

  <!-- Listado de Novelas -->
  <div>
    <h1 id="libroTitulo" class="mb-3 ml-1 ml-sm-2 ml-md-5 ml-lg-5 ml-xl-5 card col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 border">Novela</h1>
    <div id="libros" *ngFor="let libro of libros" class="card col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10 mb-4">
      <img class="card-img-top mt-3" [src]="libro.imagen" alt="">
      <div class="card-body">
        <h3 class="card-title">{{libro.titulo}}</h3>
        <p class="card-text">{{libro.descripcion}}</p>
      </div>
      <div *ngIf="libro.premios" class="card-footer">
        <small><strong>{{libro.premios}}</strong></small>
      </div>
    </div>
  </div>
</div>

