
/*Estilos generales*/
#traducciones{
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.795);
  /* -webkit-backdrop-filter: blur(10px); */
  color: black;
}

h1, h2{
  color: #686868;
}

/*Break points para adaptar background y estilos */

@media (min-width: 270px) and (max-width: 767.98px) {


  #traduccionTitulo{
    margin-left: 20px;
    margin-top: -2px;
  }

  hr{
    display:none;
  }

  .card-deck{
    margin-top: 30px;
  }

  .card{
    margin-left: 15px;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

  .card-img-top{
    max-width: 150px;
    max-height: 300px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {


  #traduccionTitulo{
    margin-left: 30px;
    margin-top: -5px;
  }

  hr{
    margin-left: 30px;
    margin-right: 310px;
    margin-top: -5px;
  }

  .card-deck{
    padding-top: 20px;
  }

  .card-text{
    padding-top: 10px;
  }

  .card{
    margin-left: 27px;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

  .card-img-top{
    max-width: 150px;
    max-height: 300px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

}


@media (min-width: 992px) and (max-width: 1199.98px) {

  #traduccionTitulo{
    margin-left: 60px;
    margin-top: -5px;
  }

  hr{
    margin-left: 60px;
    margin-right: 250px;
    margin-top: -5px;
  }

  .card-deck{
    margin-top: 30px;
  }

  .card-img-top{
    max-width: 200px;
    max-height: 400px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

}


@media (min-width: 1200px) and (max-width: 1440px) {

  #traduccionTitulo{
    margin-left: 120px;
    margin-top: -5px;
  }

  hr{
    margin-left: 120px;
    margin-right: 93px;
    margin-top: -5px;
  }

  .card-deck{
    margin-top: -210px;
  }

  .card{
    margin-left: 120px;
  }

  .card-img-top{
    max-width: 200px;
    max-height: 400px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

}

@media (min-width: 1441px) and (max-width: 1799.98px) {

  #traduccionTitulo{
    margin-left: 150px;
    margin-top: -5px;
  }

  hr{
    margin-left: 150px;
    margin-right: 100px;
    margin-top: -5px;
  }

  .card-deck{
    margin-top: -215px;
  }

  .card{
    margin-left: 150px;
  }

  .card-img-top{
    max-width: 200px;
    max-height: 400px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

}
@media (min-width: 1800px) and (max-width: 2000px) {

  #traduccionTitulo{
    margin-left: 170px;
    margin-top: -5px;
  }

  hr{
    margin-left: 170px;
    margin-right: 140px;
    margin-top: -5px;
  }

  .card-deck{
    margin-top: -235px;
  }

  .card{
    margin-left: 170px;
  }

  .card-img-top{
    max-width: 200px;
    max-height: 400px;
    margin-left: 20px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

}

