<div class="card-deck table-wrapper-scroll-y my-custom-scrollbar animated fadeIn slow mt-3 pb-4 pl-5 pl-sm-5 pl-md-4 pl-lg-5 pl-xl-5">

  <!-- Listado de Discos solo -->
  <div class="mb-5">
    <h1 id="libroTitulo" class="border-bottom pt-2 ml-1 ml-sm-2 ml-md-5 ml-lg-5 ml-xl-5 col-4 col-sm-5 col-md-8 col-lg-10 col-xl-10">Vídeos</h1>

  <div class="layout">
    <div class="row">

      <div id="libros" class="row ml-2" >
        <div class="card-body border border-top-0 col-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nrbHGKledV0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3 class="card-title mt-2">Il paese che non c'era</h3>
        </div>
        <div class="card-body border border-top-0 col-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nrbHGKledV0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h3 class="card-title mt-2">Il paese che non c'era</h3>
        </div>
      </div>

    </div>
  </div>

</div>
