/*Estilos generales*/
#libros, #compartido, #teatro, #libroTitulo, #teatroTitulo, #compartidoTitulo {
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.705);
  /* -webkit-backdrop-filter: blur(10px); */
  color: black;
}

p{
  font-size: 18px;
}

/*Break points para adaptar background y estilos */

@media (min-width: 270px) and (max-width: 767.98px) {

  #libroTitulo, #teatroTitulo, #compartidoTitulo{
    margin-left: -15px !important;
    font-size: 26px;
    max-width:35.50vh;
    vertical-align: middle !important;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

  #libros, #compartido, #teatro {
    max-width:35.7vh;
    margin-left: -1px !important;
    /*  */
  }

  .card-body{
    min-width:35.7vh;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 90vh;
    width: 45vh;
    overflow: auto;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {

  #libroTitulo, #teatroTitulo, #compartidoTitulo{
    margin-left: 35px !important;
    margin-top: -5px;
    font-size: 26px;
    max-width:73vh;
  }

  .table-wrapper-scroll-y {
    display: block;
  }


  #libros, #compartido, #teatro {
    max-width:63vh;
  }

  .layout{
    margin-left: 42px;
  }

  .card-body{
    min-width:62.5vh;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 95vh;
    width: 68vh;
    overflow: auto;
  }

}


@media (min-width: 992px) and (max-width: 1199.98px) {

  #libroTitulo, #teatroTitulo, #compartidoTitulo{
    margin-left: 65px !important;
    margin-top: -5px;
    font-size: 35px;
  }

  .card-deck{
    margin-top: 30px;
  }

  .layout{
    margin-left: 100px;
  }

  .card-img-top{
    max-width: 200px;
    max-height: 400px;
    margin-left: 20px;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

}


@media (min-width: 1200px) and (max-width: 1440px) {

  #libroTitulo, #teatroTitulo, #compartidoTitulo{
    margin-left: 132px !important;
    margin-top: -5px;
    font-size: 40px;
    max-width: 158vh;
  }

  .layout{
    margin-left: 138px;
  }

  .card-img-top{
    min-width: 478px;
  }

  .my-custom-scrollbar {
    height: 85vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

}

@media (min-width: 1441px) and (max-width: 1799.98px) {


  #libroTitulo, #teatroTitulo, #compartidoTitulo{
    margin-left: 120px !important;
    margin-top: -5px;
    font-size: 45px;
    max-width: 158vh;
  }

  .layout{
    margin-left: 126px;
  }

  .card-img-top{
    min-width: 554px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

}
@media (min-width: 1800px) and (max-width: 2000px) {

  #libroTitulo, #teatroTitulo, #compartidoTitulo{
    margin-left: 208px !important;
    margin-top: -5px;
    font-size: 50px;
    max-width: 148.50vh;
  }

  .layout{
    margin-left: 214px;
  }

  .card-img-top{
    min-width: 678px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 85vh;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }

}
