<body>



<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div id="header" class="d-flex mt-2">
    <a href="" [routerLink]="['']"><h1 class="mr-5" id="nombre">alessio arena</h1></a>
    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>



  <div class="collapse navbar-collapse d-lg-flex d-xl-flex justify-content-lg-end justify-content-xl-end mb-4" id="navbarSupportedContent">
    <nav id="menu" class="nav flex-column flex-md-column flex-lg-row flex-xl-row">
      <a class="nav-link ml-2 ml-sm-2 " [routerLink]="['/libros']" routerLinkActive="router-link-active">libros</a>
      <a class="nav-link ml-2 ml-sm-2 " [routerLink]="['/discos']" routerLinkActive="router-link-active" >discos</a>
      <a class="nav-link ml-2 ml-sm-2 " [routerLink]="['/traducciones']" routerLinkActive="router-link-active" >traducciones</a>
      <a class="nav-link ml-2 ml-sm-2 " [routerLink]="['/biografia']" routerLinkActive="router-link-active" >biografía</a>
      <a class="nav-link ml-2 ml-sm-2 " [routerLink]="['/agenda']" routerLinkActive="router-link-active" >agenda</a>
      <a class="nav-link ml-2 ml-sm-2 " [routerLink]="['/contacto']" routerLinkActive="router-link-active" >contacto</a>
    </nav>
  </div>

</nav>

<router-outlet></router-outlet>

</body>




